<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66325166805-sbe1728ktk7riajkt863dqb1be4d94fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66325166805-sbe1728ktk7riajkt863dqb1be4d94fj</string>
	<key>API_KEY</key>
	<string>AIzaSyAAZPx7PO9cJ94f9KeLwZ-hV0Pbw6FQHhk</string>
	<key>GCM_SENDER_ID</key>
	<string>66325166805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dossi4.softfactory</string>
	<key>PROJECT_ID</key>
	<string>softfactory-c9a03</string>
	<key>STORAGE_BUCKET</key>
	<string>softfactory-c9a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66325166805:ios:88cc700060eb5fecd7005c</string>
</dict>
</plist>